/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor; }

.icon-big-gear {
  font-size: 4.735rem;
  width: 1em; }

.icon-circular-clock {
  font-size: 47.464rem;
  width: 1em; }

.icon-clock {
  font-size: 20.928rem;
  width: 1em; }

.icon-cogwheel {
  font-size: 51.1rem;
  width: 1em; }

.icon-contact {
  font-size: 4.4rem;
  width: 1em; }

.icon-eth {
  font-size: 7rem;
  width: 1em; }

.icon-gift {
  font-size: 51.2rem;
  width: 1em; }

.icon-globe {
  font-size: 47.047rem;
  width: 1em; }

.icon-globe-1 {
  font-size: 51.2rem;
  width: 1em; }

.icon-history {
  font-size: 21.915rem;
  width: 1em; }

.icon-play-button {
  font-size: 44.3306rem;
  width: 1.0em; }

.icon-settings {
  font-size: 29.484rem;
  width: 1em; }

.icon-smartphone {
  font-size: 6rem;
  width: 1em; }

.icon-telephone {
  font-size: 3.8rem;
  width: 1em; }

.icon-wall-clock {
  font-size: 51.2rem;
  width: 1em; }

.icon-wallet {
  font-size: 51.2rem;
  width: 1em; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

html {
  font-size: 15px; }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  color: #65808d; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

input {
  outline: none; }

.fas, .fa {
  font-size: 16px; }

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #eaeef0; }

.wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #eaeef0; }

main {
  width: 100%; }

aside.sidebar {
  -webkit-transition: all .5s;
  transition: all .5s; }

.page-content {
  padding: 20px 40px; }
  .page-content__inner {
    max-width: 1050px; }
  .page-content h1 {
    font-weight: normal;
    color: #263238; }

.tokens-buy {
  width: 100%;
  padding: 8px 15px 8px 15px;
  background-color: #6BC649;
  color: #fff; }
  .tokens-buy a {
    color: #fff; }

ul, li {
  margin: 0;
  padding: 0; }

.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.button {
  cursor: pointer;
  border: 0;
  background: #0390f4;
  padding: 14px 35px;
  font-size: 16px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  color: #fff;
  text-decoration: none;
  display: inline-block; }

.toggle-mnu {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 5px; }
  .toggle-mnu span:after, .toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px; }
  .toggle-mnu span:after {
    top: 18px; }
  .toggle-mnu span {
    position: relative;
    display: block; }
  .toggle-mnu span, .toggle-mnu span:after, .toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #65808d;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
  .toggle-mnu.on span {
    background-color: transparent; }
  .toggle-mnu.on span:before {
    -webkit-transform: rotate(45deg) translate(-1px, 0px);
        -ms-transform: rotate(45deg) translate(-1px, 0px);
            transform: rotate(45deg) translate(-1px, 0px); }
  .toggle-mnu.on span:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
        -ms-transform: rotate(-45deg) translate(6px, -7px);
            transform: rotate(-45deg) translate(6px, -7px); }

.formitem {
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .formitem:focus {
    border: 1px solid #4dadf7;
    outline: 1px solid #4dadf7;
    position: relative;
    z-index: 1; }

.burger {
  position: absolute;
  z-index: 100;
  right: 15px;
  top: 15px; }

.justify {
  content: '';
  width: 100%;
  height: 0;
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
  line-height: 0; }

.hidden {
  display: none; }

.header {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FBFBFB; }

.header-logo {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
  padding: 15px;
  padding-left: 30px;
  padding-top: 23px; }
  .header-logo img {
    max-width: 90%; }

.header-content {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px; }

.header-nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header-tokens,
.header-user,
.header-lang,
.header-account {
  padding: 34px 20px;
  border-left: 1px solid #eaeef0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.header-tokens {
  border-left: none; }
  .header-tokens .fas {
    margin-right: 10px;
    color: #0390f4; }

.header-tokens__val {
  margin-left: 5px;
  color: #0390f4; }

.header-lang__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: -webkit-calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow: auto;
  background-color: #fff;
  z-index: 100;
  display: none; }
  .header-lang__list li {
    padding: 20px 20px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    list-style-type: none;
    border-top: 1px solid #eaeef0;
    cursor: pointer; }

.header-lang {
  padding-right: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer; }
  .header-lang:hover .header-lang__list, .header-lang:active .header-lang__list {
    display: block; }

.header-flag {
  width: 20px;
  height: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 5px;
  background: 0 0 no-repeat;
  background-size: 100%; }
  .header-flag--rus {
    background-image: url(../img/icons-svg/flags/russia.svg); }
  .header-flag--eng {
    background-image: url(../img/icons-svg/flags/eng.svg); }
  .header-flag--por {
    background-image: url(../img/icons-svg/flags/por.svg); }
  .header-flag--jp {
    background-image: url(../img/icons-svg/flags/jp.svg); }
  .header-flag--fr {
    background-image: url(../img/icons-svg/flags/fr.svg); }
  .header-flag--ch {
    background-image: url(../img/icons-svg/flags/ch.svg); }
  .header-flag--ch {
    background-image: url(../img/icons-svg/flags/sp.svg); }
  .header-flag--ger {
    background-image: url(../img/icons-svg/flags/ger.svg); }
  .header-flag--sk {
    background-image: url(../img/icons-svg/flags/sk.svg); }
  .header-flag--sp {
    background-image: url(../img/icons-svg/flags/sp.svg); }

.header-account .fa-user {
  color: #0390f4;
  margin-right: 7px; }

aside {
  width: 230px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  aside.active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.menu li a {
  position: relative;
  display: block;
  padding: 15px 20px 15px 66px;
  color: #65808d;
  text-decoration: none; }
  .menu li a .fas, .menu li a .fa, .menu li a .far {
    position: absolute;
    left: 32px;
    top: 17px;
    margin-right: 15px;
    color: #CCCCCC; }
  .menu li a:before {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: #0390f4; }
  .menu li a:hover, .menu li a:active, .menu li a:focus {
    color: #000;
    text-decoration: none; }
    .menu li a:hover .fas, .menu li a:hover .fa, .menu li a:hover .far, .menu li a:active .fas, .menu li a:active .fa, .menu li a:active .far, .menu li a:focus .fas, .menu li a:focus .fa, .menu li a:focus .far {
      color: #0390f4; }
    .menu li a:hover:before, .menu li a:active:before, .menu li a:focus:before {
      display: block; }

.menu-main {
  background-color: #fff; }

.menu-secondary {
  background-color: #F1F5F6; }
  .menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus {
    color: #FF7628; }
    .menu-secondary li a:hover .fas, .menu-secondary li a:hover .fa, .menu-secondary li a:hover .far, .menu-secondary li a:active .fas, .menu-secondary li a:active .fa, .menu-secondary li a:active .far, .menu-secondary li a:focus .fas, .menu-secondary li a:focus .fa, .menu-secondary li a:focus .far {
      color: #FF7628; }
  .menu-secondary li a:before {
    background-color: #FF7628; }

.content {
  background-color: #fff; }

.categoy-item {
  text-align: center; }
  .categoy-item a {
    display: inline-block;
    margin: 30px 0;
    text-align: center; }
  .categoy-item button {
    display: block;
    margin: 20px auto; }

.categoy-item img {
  max-width: 100%; }

.categoy-item__title {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  color: orange; }

.categoy-item__price {
  text-align: center;
  margin: 20px 0; }

.buy-steps {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background-color: #829AA5;
  color: #fff; }

.buy-steps__items {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  .buy-steps__items:before {
    content: '';
    z-index: 10;
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 28px solid #829aa5;
    border-left: 16px solid transparent; }
  .buy-steps__items:after {
    content: '';
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 28px solid #829aa5;
    border-left: 16px solid transparent; }

.buy-steps__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #b9c6cd url(../img/line.png) right center no-repeat;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 6px 20px; }
  .buy-steps__item:before {
    z-index: 10;
    position: absolute;
    left: -16px;
    bottom: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 28px solid #6d8793;
    border-bottom-color: #b9c6cd;
    border-left: 16px solid transparent; }
  .buy-steps__item:after {
    z-index: 10;
    position: absolute;
    left: -16px;
    top: 0;
    content: "";
    width: 0;
    height: 0;
    border-top: 28px solid #6d8793;
    border-left: 16px solid transparent;
    border-top-color: #b9c6cd; }
  .buy-steps__item.active {
    background-color: #6BC649; }
    .buy-steps__item.active:before {
      border-bottom-color: #6ac749; }
    .buy-steps__item.active:after {
      border-top-color: #6ac749; }
  .buy-steps__item:first-child:before, .buy-steps__item:first-child:after {
    display: none; }

.buy-steps__title {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px; }
  .buy-steps__title div:last-child {
    font-size: 32px; }

.step__icon {
  position: relative;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 30%;
          border-radius: 30%;
  border: 3px solid #fff; }
  .step__icon svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    font-size: 16px; }

.step-text {
  margin-left: 15px; }

.step-text__condition {
  font-size: 11px; }

.step-num {
  position: absolute;
  right: 30px;
  font-size: 40px; }

.token-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.token-info__left {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.token-speed {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.token-price {
  padding: 10px 20px;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  background-color: #829AA5;
  color: #fff; }

.token-price__header {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3); }

.token-price__item {
  font-size: 55px;
  line-height: 55px; }
  .token-price__item sup {
    text-transform: uppercase;
    font-size: 40px; }

.token-price__body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.token-price__prize {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .token-price__prize svg {
    display: block;
    font-size: 50px; }

.token-info__right {
  width: 312px;
  margin-left: 25px;
  padding: 15px 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #65808d; }

.counter-title {
  text-align: left;
  text-transform: uppercase; }

.counter-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px dashed #e5e5e5; }

.counter-bottom {
  text-align: center; }

.counter-val__currency,
.counter-val__summy {
  display: inline-block;
  font-size: 32px;
  color: #0390f4; }

.counter-val {
  text-align: center; }

.token-timer {
  margin-top: 10px;
  text-align: center; }
  .token-timer > span {
    display: inline-block;
    margin-top: 8px; }

.token-timer__item {
  display: inline-block;
  margin-right: 8px;
  margin-left: 5px;
  vertical-align: top;
  text-align: center; }
  .token-timer__item div {
    position: relative;
    color: #6f838c;
    font-size: 21px;
    padding: 5px 10px;
    background: #eaeef0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #eaeef0), color-stop(50%, #f4f6f7));
    background: -webkit-linear-gradient(bottom, #eaeef0 50%, #f4f6f7 50%);
    background: linear-gradient(to top, #eaeef0 50%, #f4f6f7 50%);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  .token-timer__item span {
    text-transform: uppercase;
    font-size: 11px; }

.token-currency__top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 6px;
  margin-bottom: 5px; }

.token-currency__update {
  font-size: 12px; }

.token-currency__items {
  margin-bottom: 30px; }

.token-currency__item {
  background: #fff;
  border-bottom: 5px solid transparent;
  cursor: pointer;
  padding: 10px 0 5px;
  text-align: center;
  width: 86px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin: 0 10px 10px 0;
  white-space: nowrap; }
  .token-currency__item.active {
    border-bottom-color: #0390f4; }

.token-currency__icon svg {
  font-size: 84px; }

.token-currency__price {
  font-size: 11px; }

.token-form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }
  .token-form label {
    position: relative;
    display: block;
    margin-right: 10px; }
    .token-form label input {
      display: block;
      width: 100%;
      padding: 12px 15px;
      font-size: 16px;
      cursor: text; }
      .token-form label input::-webkit-input-placeholder {
        color: #000; }
      .token-form label input::-moz-placeholder {
        color: #000; }
      .token-form label input:-moz-placeholder {
        color: #000; }
      .token-form label input:-ms-input-placeholder {
        color: #000; }

.label-title {
  display: block;
  margin-bottom: 5px; }

.label-title,
.label-unit {
  text-transform: uppercase; }

.label-unit {
  position: absolute;
  right: 15px;
  top: 50%; }

.buy-popup {
  max-width: 500px;
  display: inline-block;
  text-align: center;
  background-color: #fff; }

.buy-popup__header {
  padding: 10px;
  margin-bottom: 40px;
  background-color: #F1F5F6; }
  .buy-popup__header p {
    margin: 0;
    font-size: 12px; }
  .buy-popup__header h4 {
    margin-top: 0;
    margin-bottom: 5px; }

.buy-popup__title {
  font-size: 24px; }

.buy-popup__body {
  padding: 0 30px 30px; }

.buy-popup__icon {
  display: inline-block;
  vertical-align: middle;
  max-width: 30px; }
  .buy-popup__icon img {
    display: block; }

.buy-popup__address {
  margin-bottom: 20px; }
  .buy-popup__address p {
    margin-bottom: 0; }
  .buy-popup__address .adreess-val {
    color: #000;
    font-size: 20px; }

.buy-popup__code {
  margin-bottom: 15px; }

.buy-popup__buttons {
  text-align: center; }
  .buy-popup__buttons .button {
    padding: 8px 26px;
    margin: 0 10px;
    width: 160px; }

.button-addr {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.copy-addr {
  font-size: 11px; }

.mfp-auto-cursor .mfp-content {
  text-align: center; }

.page-content__inner--contacts {
  width: 100%;
  max-width: 800px; }

.contacts {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.contacts-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.contacts-icon {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #CFD8DC; }

.contacts-info {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 15px 20px;
  text-transform: uppercase;
  background-color: #fff; }

.contacts-info__val {
  text-transform: none; }
  .contacts-info__val--phone {
    text-decoration: none; }

.contacts-icon {
  padding: 20px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0; }
  .contacts-icon svg {
    font-size: 50px; }

.contacts-info__title {
  color: #263238; }

.contacts-info__val {
  font-size: 21px;
  color: #0390f4; }

.contacts-info__socials a {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px; }
  .contacts-info__socials a .fab {
    font-size: 22px;
    color: #0390f4; }

.contacts-left,
.contacts-right {
  width: 48%; }

.contacts-right {
  background-color: #fff; }

.block-header {
  padding: 10px 15px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eaeef0;
  text-transform: uppercase; }

.contacts-right__body {
  padding: 0 15px 15px; }

.contacts-form input, .contacts-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 10px 6px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px; }

.contacts-form textarea {
  max-width: 100%; }

.contacts-form .button {
  display: block;
  width: 100%; }

.page-content__inner--help {
  width: 100%;
  max-width: 800px; }

.help-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.block-icon {
  padding: 20px;
  width: 200px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  text-align: center;
  background-color: #CFD8DC; }
  .block-icon div {
    margin-bottom: 15px;
    text-transform: uppercase; }
  .block-icon svg {
    font-size: 94px; }

.block-info {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
  padding: 15px 20px;
  background-color: #fff; }
  .block-info ul li {
    margin-bottom: 10px;
    list-style-type: none; }
    .block-info ul li a, .block-info ul li .fa {
      color: #0390f4; }
    .block-info ul li a {
      margin-left: 15px; }

.help-faq {
  background-color: #fff; }

.acordeon-item,
.acordeon-subitem {
  list-style-type: none; }

.acordeon-item {
  border-bottom: 1px dashed #eaeef0; }

.acordeon-subitem {
  padding: 15px 20px 15px 40px;
  background-color: #eaeef0;
  color: #263238; }

.help-faq__body {
  padding: 20px; }

.acordeon-sublist {
  display: none; }
  .acordeon-sublist.opened {
    display: block; }

.acordeon-link {
  display: inline-block;
  position: relative;
  padding: 10px 20px 10px 40px;
  color: #0390f4;
  text-decoration: none; }
  .acordeon-link:before {
    content: "\f101";
    position: absolute;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto; }
  .acordeon-link.opened:before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #263238; }

.page-content__inner--invest {
  width: 100%;
  max-width: 800px; }

.invest-block {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px; }

.invest-block__icon svg {
  margin-top: -12px; }

.wallet-addr {
  margin-bottom: 25px; }

.wallet-balance__val {
  font-size: 18px;
  color: #263238; }

.invest-transactions {
  background-color: #fff; }

.invest-transactions__body {
  padding: 15px; }
  .invest-transactions__body table {
    width: 100%;
    border-collapse: collapse; }
    .invest-transactions__body table th, .invest-transactions__body table td {
      padding: 8px;
      text-align: left;
      font-weight: normal; }
      .invest-transactions__body table th .far, .invest-transactions__body table td .far {
        color: #0390f4; }
    .invest-transactions__body table tr:nth-child(even) {
      background-color: #eaeef0; }
    .invest-transactions__body table .trans-summ,
    .invest-transactions__body table .trans-course,
    .invest-transactions__body table .trans-tokens {
      text-transform: uppercase; }

.footer {
  padding: 15px;
  margin-top: auto;
  background-color: #CFD8DC; }
  .footer nav {
    text-align: center; }
    .footer nav a {
      margin-right: 60px;
      display: inline-block;
      color: #65808d; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .token-price__item {
    font-size: 40px;
    line-height: 40px; }
    .token-price__item sup {
      font-size: 30px; } }

@media only screen and (max-width: 1200px) {
  .token-price__item {
    font-size: 30px;
    line-height: 30px; }
    .token-price__item sup {
      font-size: 20px; }
  .header-content {
    font-size: 12px; }
  .step-num {
    font-size: 30px; } }

@media only screen and (max-width: 1000px) {
  .header-content {
    display: block; }
  .buy-steps {
    display: block; }
  .buy-steps__title {
    text-align: center;
    margin-bottom: 15px; }
  .buy-steps__items {
    display: block; }
  .buy-steps__items,
  .buy-steps__item {
    background-image: none; }
    .buy-steps__items:before, .buy-steps__items:after,
    .buy-steps__item:before,
    .buy-steps__item:after {
      display: none; }
  .header-content {
    font-size: 12px; }
  .header-tokens, .header-user, .header-lang, .header-account {
    padding-top: 20px;
    padding-bottom: 20px; }
  .token-info {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .token-info__left {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .token-info__right {
    width: 100%;
    margin-left: 0;
    margin-bottom: 15px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .contacts {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .contacts-left, .contacts-right {
      width: 100%; }
  .contacts-info__val {
    font-size: 16px; }
  .footer nav a {
    margin-bottom: 5px; } }

@media only screen and (max-width: 769px) {
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    max-height: 100vh;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    overflow: auto; }
  .burger {
    display: block; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header-logo {
      background-color: transparent;
      padding: 10px; }
      .header-logo img {
        position: static; }
  .header-nav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-user {
    display: none; }
  .page-content {
    padding: 15px; }
  .token-form {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .token-form label {
      width: 100%;
      margin-bottom: 10px; }
  .contacts-info__val {
    font-size: 21px; }
  .block-icon {
    width: auto; }
  .invest-transactions__body {
    overflow: auto; }
    .invest-transactions__body table {
      min-width: 768px; }
  .footer nav a {
    display: block;
    margin-right: 0;
    font-size: 12px; }
  /*Disable Animation on Mobile Devices*/ }

@media only screen and (max-width: 540px) {
  .header-content {
    display: block; }
  .header-tokens, .header-user, .header-lang, .header-accoun {
    padding: 10px; }
  .header-tokens {
    display: block;
    text-align: center; }
  .header-lang {
    padding-right: 40px;
    font-size: 12px;
    border-left: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .header-logo {
    max-width: 250px; }
  .token-price__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .token-price__item {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1; }
  .token-price__prize {
    margin-bottom: 15px; }
  .token-price__item {
    font-size: 20px;
    line-height: 20px; }
    .token-price__item sup {
      font-size: 15px; }
  .buy-steps {
    padding: 15px; }
  .buy-popup__body {
    padding: 0 15px 15px; }
  .buy-popup__buttons .button:first-child {
    margin-bottom: 10px; }
  .contacts-info__val {
    font-size: 16px; }
  .help-block,
  .invest-block {
    display: block; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 769px) {
  .burger {
    display: none; }
  .sidebar {
    position: static;
    -webkit-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
            transform: translateX(0) !important; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

/*# sourceMappingURL=maps/main.css.map */
